# Build results
bin/
obj/
*.exe
*.dll
*.pdb
*.app
*.vs/
*.user
*.suo

# ASP.NET
appsettings.Development.json
appsettings.Local.json
appsettings.json
CBSSupport.API/wwwroot/uploads/

# Rider
.idea/

# Visual Studio
.vscode/
.vs/

# OS Files
.DS_Store
Thumbs.db

# User secrets
secrets.json

# MAUI specific
platforms/
**/Resources/Raw/*.*
*.apk
*.aab

# Logs
*.log

# npm packages (if used)
node_modules/

# .NET
project.lock.json
project.fragment.lock.json
.gitattributes
CBSSupport.API/Properties/launchSettings.json
Database/Operations/r2-cors.example.json
CBSSupport.API/Properties/launchSettings.json
